.footer {
    background-color: #ff69b4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
 

  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}
  
  .imgfooter {
    
    width: 100px;
    height: 100px;
  }

  .imginsta {
    width: 30px;
    height: 30px;
    
  }