.footer {
    background-color: #ff69b4;
 

  }

  .imageContainer {
    display: flex;
    gap: 20px; 
}
  
  .imgfooter {
    
    width: 100px;
    height: 100px;
  }

  .imginsta {
    width: 30px;
    height: 30px;
    padding: 3px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
  }