.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .searchInput {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #e0529d;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    border: 2px solid #ff69b4;
    box-shadow: 0 4px 8px #cccccc00;
    transition: transform 0.3s;
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .card img {
    height: 300px;
    object-fit: cover;
    background-color: #ff69b4;
  }